

.box {
    border: 3px solid #646cff;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    margin-left: 40px;
    width: 300px;
    height: 200px;
    display: flex;
    /* align-items:center; */
    /* text-align: center; */
    justify-content: space-between;
    flex-direction: column;
}

.text {
    color: #3a41ca;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;

}

.input {
    margin-left: 10px;
    width: 270px;
}

.btn {
    border: 1px solid #646cff;
    border-radius: 2px;
    color: #3a41ca;
    font-size: 16px;
    width: 150px;
    height: 30px;
    text-align: center;
    bottom: auto;
    padding: 5px;
    margin-left: 75px;
    margin-bottom: 10px;


}

.btn:hover {
    background-color: rgb(228, 245, 245);
}

.textH {color: #3a41ca;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-left: 40px;
    margin-bottom: 10px;

}

